@{
    ViewBag.Title = "Create Account";
}

<style type="text/css">

    #button {
        border: 3px solid black;
        padding: 5px;
        text-align: center;
        width: 300px;
        margin: 3px auto;
    }

    #div {
        text-align: center
    }
</style>

<div class="jumbotron">
    <h1 style="text-align:center">Vehicle Register Home</h1>
    <p style="text-align:center">@ViewBag.Message</p>
</div>

<div id="div" class="row">
    <div>
        <button id="button" type="button" onclick="location.href='@Url.Action("RegisterVehicleView", "VehicleRegister")'">Register New Vehicle</button>
    </div>
    <div>
        <button id="button" type="button" onclick="location.href='@Url.Action("GetVehicleList", "VehicleRegister")'">Get List Of All Vehicles</button>
    </div>
    <div>
        <button id="button" type="button" onclick="location.href='@Url.Action("GetVehicle", "VehicleRegister")'">Get vehicle By Registration Number</button>
    </div>
    <div>
        <button id="button" type="button" onclick="location.href='@Url.Action("RemoveVehicle", "VehicleRegister")'">Remove Vehicle</button>
    </div>
    <div>
        <button id="button" type="button" onclick="location.href='@Url.Action("UpdateVehicle", "VehicleRegister")'">Update Vehicle</button>
    </div>
    <div>
        <button id="button" type="button" onclick="location.href='@Url.Action("ViewService", "VehicleRegister")'">Book Services for Vehicles</button>
    </div>
    <div>
        <button id="button" type="button" onclick="location.href='@Url.Action("ViewServiceHistory", "VehicleRegister")'">View Service History</button>
    </div>
</div>
